<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${restaurant} and ${restaurants.size()}"></p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Cuisine</th>
    </tr>

    <tr th:each="restaurant : ${restaurants}">

        <td th:text="${restaurant.name}"></td>
        <td th:text="${restaurant.address}"></td>
        <td th:text="${restaurant.cuisine.name}"></td>
    </tr>

</table>



<!--<a href="/restaurant/add">Add Restaurant</a> | -->


</body>
</html>
